*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: 15rem auto;
    grid-template-columns: 30rem .2rem auto;
    gap: 2rem;
}

input{
    border: none;
}

/* Header */

header{
    grid-row: 1;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20rem;
    padding-left: 12rem;
    gap: 4rem;
    width: 100%;
}

header fieldset{
    
    padding: 1rem;
    width: 60rem;
    display: flex;
    width: 30rem;
    align-items: center;
}

header input{
    padding: 1rem;
}

/* Nav */

nav{
    grid-row: 2;
    text-transform: uppercase;
    text-align: end;
    width: 30rem;
    margin-left: 2rem
}

nav ol li{
    list-style: none;
    padding: 1rem;
    cursor: pointer;
}

nav ol li:hover{
    list-style: '//';
    font-weight: bold;
}

/* Line */

#line{
    border: .2rem solid black;
    grid-row: 2;

}

/* main */

main{
    padding: 1rem;
}

#form-wrapper{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrap-div{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    gap: 2rem;
}

#form-wrapper legend{
    margin-left: 1rem;
}

#form-wrapper input{
    padding: 1rem;
    width: 30rem;
}

#submit-btn{
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 1rem;
    background-color: transparent;
}

#submit-btn:hover{
    box-shadow: 1px 1px 1px black;
}

/* anexos */

.anexo{
    /* display: none; */
    font-size: 80%;
    margin-top: 1rem;
    font-style: italic;
}

.anexo li:hover{
    list-style: none;
    border-bottom: 1px solid black;
}

.secundario li:hover {
    border-bottom: none;
    /* Escolher como definir este */
}

.hide{
    display: none;
}
